* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.count {
    width: 96%;
    height: 100px;
    background-color: yellow;
    border-radius: 30px;
    border: 8px solid orange;
    text-align: center;
}
#count{
    position: relative;
    top: 37px;
    color: red;
    font-weight: bold;
    font-size: 20px;
}
.wish {
    background-color: cyan;
    width: 94%;
    height: 200px;
    text-align: center;
    border-radius: 78px;
    margin-top: 16%;
    border: 12px solid green;
}

#wish {
    font-size: 57px;
    color: blue;
    font-weight: bolder;
    position: relative;
    /* top: 37%; */
}

.span {
    color: white;
    float: right;
    font-size: 23px;
    margin-top: 109px;
}
